@import "tailwindcss";
@tailwind utilities;

@font-face {
  font-family: 'Chivo';
  src: url('/fonts/chivo.regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Hide scrollbar for Chrome, Safari and Opera */
*::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
* {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}