* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Chivo', sans-serif;
}

@font-face {
  font-family: 'Chivo';
  src: url('/public/assets/fonts/chivo.regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.quoteSection {
  text-align: center;
  padding: 1rem;
  background-color: white;
  border-radius: 0.5rem;
}

.quoteContent {
  font-size: 1.1rem;
  font-style: italic;
  color: #333;
}

.quoteCharacter {
  font-size: 0.9rem;
  color: #666;
  margin-top: 0.5rem;
}

.container {
  padding: 1rem;
  background-color: #ffffff;
  min-height: 100vh;
  height: 100%;
  overflow-y: auto;
  color: #000000;
}

.grid {
  max-width: 1300px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-auto-rows: 175px;
  gap: 0.3rem;
}

.card {
  border-radius: 1.5rem;
  padding: 0.8rem;
  cursor: pointer;
  transition: transform 0.2s ease, opacity 0.2s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card:hover {
  transform: scale(1.02);
  opacity: 0.9;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1rem;
}

.footer {
  text-align: center;
  margin-top: 2.5rem;
  padding: 2rem 1rem;
}

.footerText {
  font-size: 1.2rem;
  color: #333; /* Dark gray */
  margin-bottom: 1rem;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.button {
  padding: 0.6rem 1.2rem;
  font-size: 0.9rem;
  color: #f1f1f1;
  background-color: #121212;
  border-radius: 0.5rem;
  text-decoration: none;
  font-weight: bold;
}

.button:hover {
  background-color: #333;
}

.privacy {
  display: block;
  font-size: 0.8rem;
  color: #333;
  text-decoration: none;
}

.privacy:hover {
  color: #121212;
}

@media (min-width: 768px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
