* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Tolyer No.1 Bold';
  src: url('../public/assets/fonts/TolyerNo1-Bold.woff2') format('woff2'),
       url('../public/assets/fonts/TolyerNo1-Bold.woff') format('woff');
       
  font-weight: bold;
  font-style: normal;
}
